html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    display: grid;
    font-family: 'Roberto', 'Segoe UI', 'Ubuntu', 'Arial', sans-serif;
    grid-template-columns: 250px auto;
}
header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
/* header */
.top_header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,auto);
    padding-top: 16px;
    padding-bottom: 16px;
}
.search {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 90%;
}
.search input {
    margin-left: 10px;
    background-color: #E2E8F0;
    border: 5px none #E2E8F0;
    border-radius: 18px;
    font-size: 18px;
    color: #111111;
    padding: 3px;
    width: 90%;
}
.user_info {
    display: grid;
    grid-template-columns: 20px 60px 140px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 30px;
}
.username {
    font-weight: bold;
}
.pfp {
    border-radius: 50%;
}
.bottom_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    margin-bottom: 5px;
    padding: 8px 24px;
}
.user_intro {
    display: flex;
    align-items: center;
}
.user_intro p {
    margin-left: 20px;
    font-weight: bold;
}
#big_username {
    font-size: 24px;
}
.buttons {
    margin-right: 20px;
}
.buttons button {
    background-color: #1992D4;
    border: 5px none #1992D4;
    border-radius: 1em;
    font-size: 18px;
    color: white;
    font-weight: 500;
    padding: 8px;
    width: 100px;
    margin: 10px 8px;
}
.buttons button:hover {
    background-color: #0d5b85;
    cursor: pointer;
}
.buttons button:active {
    background-color: #07354e;
}
#notifs:hover {
    filter: invert(30%);
    cursor: pointer;
}
#notifs:active {
    filter: invert(60%);
}
/* sidebar */
aside {
    background-color: #1992D4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.logo {
   display: flex;
   padding: 12px;
}
.logo h1 {
    display: inline;
    margin: 0px 0px 0px 8px;
    align-self: center;
    font-size: 1.8rem;
    font-weight: 500;
}
aside img {
    filter: invert(100%);
}
aside ul {
    list-style-type: none;
    padding-left: 25px;
}
aside a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: flex;
    padding: 10px 0px;
}
.navText {
    align-self: center;
    margin-left: 10px;

}
aside a:hover {
    filter: invert(10%);
}
aside a:active {
    filter: invert(20%);
}
.bottomButtons {
    margin-top: 50px;
}
/* main content */
main {
    background-color: #E2E8F0;
}